.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12.5%;
}

.container h1 {
    text-align: center;
}

.container button {
    height: 35px;
    width: 28rem;
    background-color: #446df6;
    color: white;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
    width: 100%;
}

.results {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid darkgray;
}

.questions {
    display: flex;
    flex-direction: column;
    border-right: 2.5px solid darkgray;
    width: 50%;
}

.answers {
    display: flex;
    flex-direction: column;
    margin-right: 25%;
}

li {
    list-style: none;
    margin-bottom: 15px;
    width: 70%;
}

